/* GLOBAL */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	font-size: .8em;
}

body {
	font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a img, :link img, :visited img {
	border: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul li{
    list-style-type:none;
    text-decoration: none;
}

header {
    border-bottom: 1px solid rgb(0,0,0);
    padding: 40px 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

/* NAVBAR */
.nav__container{
    margin: 0 auto;
    padding: 20px;
}

.nav__ul {
    margin: 0 auto;
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav__li{
    padding: 5px 30px;
    border-bottom: 2px solid rgb(0,0,0);
}

/* TITLE */
.title__container {
    text-align: center;
    margin: 10px 0 20px 0;
}

.title__container h1 {
    font-weight: lighter;
    font-size: 1.2em;
    letter-spacing: .5em;
}

/* FORM */
.form__container {
    text-align: center;
    padding: 40px 0;
}

.meter {
    width: 700px;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap-reverse;
    font-size: .8em;
}

.meter label {
    display: inline-block;
    text-align: center;
    margin: 10px 0.2em;
    
}

.meter label input[type="radio"] {
  display: block;
  margin: 0.5em auto;
}

.checked {

}

.meter input[type=radio]:checked+label {
    background-color: red;
    font-weight: bold;
}

/* label > input[type="radio"]:checked + *::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: teal;
}
label > input[type="radio"]:checked + * {
  color: teal;
} */

.thermometer { 
    width: 700px;
    height: 20px;
    border: 1px solid black;
    border-radius: 25px;
}

.slider { 
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

/* MAIN CONTENT */
.content__container {
    background-color: rgb(0,0,0);
    position: relative;
    padding: 55px;
}

#container__notch {
    background-color: rgb(255,255,255);
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: rotate(45deg);
}

.banner {
    background-color: rgb(165,166,167);
}

.banner__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 900px;
    margin: 0 auto;
}

.btn {
    background-color: inherit;
    border: 2px solid rgb(0,0,0);
    border-radius: 25px;
    margin: 10px 0;
    padding: 5px 10px;
}