/* GLOBAL */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
}

a img, :link img, :visited img {
	border: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul li{
    list-style-type:none;
    text-decoration: none;
}

header {
    border-bottom: 1px solid rgb(0,0,0);
    padding: 40px 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

/* NAVBAR */
.nav__container{
    margin: 0 auto;
    padding: 20px;
}

.nav__ul {
    margin: 0 auto;
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav__li{
    padding: 5px 30px;
    border-bottom: 2px solid rgb(0,0,0);
}

/* TITLE */
.title__container {
    text-align: center;
    margin: 10px 0 20px 0;
}

.title__container h1 {
    font-weight: lighter;
    font-size: 1.2em;
    letter-spacing: .5em;
}

/* Slider */
.form__container {
    text-align: center;
    padding: 40px 0;
}

.meter {
    width: 700px;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap-reverse;
    position: relative;
    font-size: .8em;
}

.meter label {
    display: inline-block;
    text-align: center;
    margin: 10px 0.2em;
    
}

.meter label input[type="radio"] {
  display: block;
  margin: 0.5em auto;
}

.checked {
    color:rgb(38, 140, 195);
    font-weight: bold;
}

.thermometer { 
    position: relative;
    width: 700px;
    height: 15px;
    border: 1px solid black;
    border-radius: 25px;
}

.mercury {
    position: absolute;
    height: 13px;
    border-right: 2px solid rgb(0,0,0);
}

#mercury {
    left: 0px;
    width: 12.3%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgb(148, 207, 238);
}

#mercuryClone1 {
    left: 12.3%;
    width: 24.7%;
}

#mercuryClone2 {
    left: 37%;
    width: 24%;
}

#mercuryClone3 {
    left: 61%;
    width: 25.5%;
}

.mercuryFilled {
    background-color: rgb(148, 207, 238);
} 

.slider { 
    position: absolute;
    top: -3px;
    left: 10.5%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(0,0,0);
    border: 4px solid rgb(38, 140, 195);
}

/* MAIN CONTENT */
.content__container {
    background-color: rgb(0,0,0);
    position: relative;
    padding: 55px 150px;
}

#container__notch {
    background-color: rgb(255,255,255);
    height: 20px;
    width: 20px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: rotate(45deg);
}

.banner {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 40px;
}

.banner__cornerfold {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 20px solid rgba(0,0,0,.5);
    border-left: 20px solid rgb(0,0,0);
}

.banner p {
    margin: 10px 0;
    font-size: calc(.5em + 0.5vw);
    line-height: calc(1.1em + 0.5vw);
}

.banner-gray {
    background-color: rgb(165,166,167);
}

.banner-blue {
    background-color: rgb(38, 140, 195);
    color: rgb(255,255,255);
}

.banner__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
}

.banner__container-inner{
    margin-right: 30px;
}

#banner1, #banner2 {
    width: 48%;
    display: flex;
    align-items: center;
}

#banner2 {
    height: 100%;
    flex-direction: row-reverse;
}

#banner3 {
    margin-left: 70px;
}

.banner__row img {
    height: 50px;
    align-self: center;
}

#banner2 img {
    position: relative;
    top: 80px;
    left: 132px;
}

#banner3 img {
   height: 150px; 
   position: relative;
   right: 50px;
}

.btn {
    background-color: inherit;
    color: inherit;
    border: 2px solid rgb(0,0,0);
    border-radius: 25px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.btn-white {
    border: 2px solid rgb(255,255,255);
}

@media (max-width: 1200px){
    /* Main Content */
    .content__container {
        padding: 55px 15px;
    }

    .banner {
        padding: 20px;
    }

    .banner__container-inner {
        margin: 10px 10px 0 0;
    }

    #banner2 img {
        position: relative;
        left: 0px;
        bottom: 0px;
    }

    #banner3 img {
        right: 0px;
    }
}

@media (max-width: 700px) {
    /* Navbar */
    .nav__ul {
        width: 90%;
        justify-content: center;
    }

    .nav__li{
        padding: 5px 10px;
        border-bottom: none;
    }

    /* Slider */
    .meter {
        width: 95%;
    }

    .thermometer {
        width: 100%;
        
    }
  
    /* Main Content */
    .content__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
    }

    .banner__row {
        flex-direction: column;
        margin: 0;
    }

    .banner__container-inner{
        margin-right: 10px;
    }

     #banner1, #banner2, #banner3 {
        width: 100%;
        margin: 10px auto;
    }

    #banner2 img {
        top: 50px;
    }

    #banner3 img {
        height: 50px;
    }
}